.start-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__items{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
